{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet", href="{% static 'styles.css' %}" />
</head>
<body>

    {% comment %}
    This is a django template multiline comment, 
    only visible in the source code
    {% endcomment %}

    {# This is a django template oneline comment #}

    <h1>Welcome to my site, {{name}}</h1>

    <p>This framework is written with the capitalized programming language: </p>
    {% for lang in langs %}
        {% if lang == 'Python' %}
            <li>{{lang|upper}}</li>
        {% else  %}
            <li>{{lang}}</li>
        {% endif %}
    {% endfor %}
    <p>Number of items displayed: {{langs|length}}</p>
</body>
</html>